* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

body {
    background-color: black;
    width: 100%;
    height: 100%;
}

nav {
    display: flex;
    align-items: center;
    margin-top: 40px;
    justify-content: space-between;
}

nav h1 {
    color: white;
    font-size: 28px;
    font-size: 40px;
}

ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    font-size: 20px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: chocolate;
    transition: 0.3s all ease;
}

.text h1 {
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 50px;
    margin-top: 150px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.project-flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 200px;
    margin-bottom: 100px;
    gap: 30px;
}

.box {
    width: 500px;
    padding: 18px 20px;
    background-color: white;
    border-radius: 12px;
    text-align: center;
}

.box img {
    width: 100%;
    height: 100%;
}

.box h1 {
    color: #000;
    font-size: 30px;
    margin-top: 20px;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.text-gmail h1 {
    margin-top: 500px;
    margin-bottom: 50px;
    font-size: 18px;
    color: white;
    text-align: center;
}

.text-gmail h1 a {
    text-decoration: none;
    color: white;
}

.text-gmail h1 a:hover {
    text-decoration: none;
    color: chocolate;
    transition: 0.3s all ease;
}

@media (max-width: 890px) {
    nav {
        justify-content: space-around;
    }
    .project-flex {
        gap: 40px;
    }
}

@media (max-width: 550px) {
    nav {
        flex-wrap: wrap;
        gap: 30px;
    }
    .box {
        width: 400px;
        padding: 18px 20px;
    }
    .box-img {
        width: 90%;
        height: 90%;
    }
}

@media (max-width: 420px) {
    nav h1 {
        color: white;
        font-size: 35px;
    }
    .text h1 {
        font-size: 35px;
        margin-top: 120px;
    }
    .box {
        width: 350px;
        padding: 18px 20px;
    }
}