* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

body {
    background-color: black;
    width: 100%;
    height: 100%;
}

nav {
    display: flex;
    align-items: center;
    margin-top: 40px;
    justify-content: space-between;
}

nav h1 {
    color: white;
    font-size: 28px;
    font-size: 40px;
}

ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    font-size: 20px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: chocolate;
    transition: 0.3s all ease;
}

.text h1 {
    color: white;
    margin-top: 15px;
    font-size: 28px;
}

.text-flex {
    display: flex;
    align-items: center;
    margin-top: 200px;
    justify-content: space-between;
    gap: 50px;
}

.img img {
    border-radius: 100%;
    width: 200%;
    height: 200%;
}

.text .text-button {
    border: none;
    padding: 15px 32px;
    color: white;
    background-color: chocolate;
    border-radius: 10px;
    margin-top: 25px;
}

.box-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 200px;
}

.box {
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 12px;
    width: 300px;
    padding: 12px 18px;
}

.box-flex .box img {
    width: 80%;
    height: 80%;
    margin-top: 12px;
}

.box-flex .box h3 {
    color: black;
    font-size: 18px;
    font-weight: 600;
    margin-top: 5px;
}

.text-2 h1 {
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 30px;
    margin-top: 220px;
    margin-bottom: 150px;
}

.div-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.div {
    width: 300px;
    background-color: white;
    padding: 15px 20px;
    border-radius: 12px;
    text-align: center;
}

.div .bg img {
    width: 100%;
}

.div h1 {
    color: black;
    font-weight: 700;
    font-size: 25px;
}

.div button {
    border: none;
    padding: 15px 20px;
    color: white;
    background-color: chocolate;
    border-radius: 10px;
    margin-top: 25px;
}

.text-gmail h1 {
    margin-top: 500px;
    margin-bottom: 50px;
    font-size: 18px;
    color: white;
    text-align: center;
}

.text-gmail a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.text-gmail a:hover {
    text-decoration: none;
    color: chocolate;
}

@media (max-width: 920px) {
    nav {
        justify-content: space-around;
    }
    .text h1 {
        font-size: 25px;
    }
    .text-flex {
        justify-content: space-around;
    }
    .img img {
        width: 180%;
        height: 180%;
    }
    .box-flex {
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 30px;
    }
    .div-flex {
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 30px;
    }
}

@media (max-width: 700px) {
    .text h1 {
        font-size: 22px;
    }
    .text .text-button {
        padding: 12px 25px;
    }
}

@media (max-width: 600px) {
    .img img {
        width: 250%;
        height: 250%;
    }
}

@media (max-width: 490px) {
    nav {
        flex-wrap: wrap;
        gap: 20px;
    }
    .text h1 {
        font-size: 20px;
    }
    .img img {
        width: 280%;
        height: 280%;
    }
}

@media (max-width: 420px) {
    .img img {
        display: none;
    }
    .text-flex {
        margin-top: 120px;
    }
    .text h1 {
        text-align: center;
    }
    .text .text-button {
        padding: 15px 20px;
        margin-left: 155px;
    }
}